@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-900: theme('colors.primary.900');
    }
    html {
        @apply scroll-smooth;
    }
    body {
        @apply font-Rubik text-[18px];
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-Ubuntu font-medium text-gray-700;
    }

    /* remove arrow of number input */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        @apply appearance-none m-0;
    }
    input[type='number'] {
        -moz-appearance: textfield;
    }
    ::-webkit-scrollbar {
        @apply w-3 h-1;
    }
    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
    }
    [data-bg-img] {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    input {
        outline: none;
    }
}

@layer components {
    .container {
        @apply pl-4 pr-4 mx-auto;
    }

    .overlay {
        @apply fixed top-0 left-0 right-0 bottom-0 z-[1] bg-[#0000008a] opacity-0 invisible;
    }
    .overlay.active {
        @apply opacity-100 visible;
    }

    .nav-menu {
        /* @apply py-2; */
    }
    .nav-menu__list {
        @apply flex items-center justify-center;
    }
    .nav-menu__item {}
    .nav-menu__link {
        @apply block px-4 py-2 text-base text-primary-900 font-medium relative mx-1;
    }
    .nav-menu__link::after {
        content: '';
        @apply absolute right-0 bottom-0 w-0 h-[2px] bg-primary-900 transition-all duration-300;
    }
    .nav-menu__link:hover::after {
        @apply w-full left-0;
    }
    .nav-menu__link.action {
        @apply bg-primary-900 text-white rounded ml-3 mr-0;
    }

    /* mobile menu */
    .mobile-menu {
        @apply fixed top-0 right-0 w-[300px] h-full bg-white z-10 p-3 translate-x-[100%] opacity-0 invisible transition;
    }
    .mobile-menu.active {
        @apply translate-x-0 opacity-100 visible;
    }
    .mobile-menu__list {
        @appy flex flex-col items-center justify-center;
    }
    .mobile-menu__item {}
    .mobile-menu__link {
        @apply px-3 py-2 text-base text-slate-800 font-medium block rounded-md hover:bg-slate-100;
    }

    .bordered-text {
        -webkit-text-stroke: 1px #fff;
    }

    .animate-scroll-down-icon {
        @apply block animate-bounce;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* buttons */
    .button { 
        @apply inline-block border-0 outline-none px-4 py-2 text-base font-medium rounded-md transition;
    }
    .button--primary {
        @apply px-10 py-3 text-base bg-white text-primary-900 font-medium font-Ubuntu rounded transition-all duration-300;
        @apply hover:bg-primary-700 hover:text-white;
    }
    .button--secondary {
        @apply px-8 py-3 rounded-full border-2 border-primary-900 text-primary-900 bg-transparent font-medium hover:bg-primary-700 hover:border-transparent hover:text-white;
    }
    .button--tertiary {
        @apply px-4 py-2 rounded border-2 text-white bg-primary-900 font-medium border-transparent;
        @apply hover:border-primary-900 hover:text-slate-800 hover:bg-white;
    }
    .button--rounded {
        @apply w-10 h-10 flex items-center justify-center text-base rounded-full;
    }

    .button__icon {
        @apply text-[24px];
    }
    .button__icon--left {
        @apply mr-2;
    }
    .button__icon--right {
        @apply ml-2;
    }


    /* SECTION HEADING */
    .section-heading {
        @apply relative mb-11;
    }
    .section-heading__back-text {
        @apply top-[-10%] text-[50px];
        @apply md:top-[-50%] md:text-[70px];
        @apply absolute xl:top-[-140%] left-[-15px] font-Ubuntu font-bold xl:text-[150px] text-slate-100 leading-none select-none whitespace-nowrap;
    }
    .section-heading__back-text.light {
        @apply text-slate-100 opacity-20;
    }
    .section-heading__back-text.small {
        @apply text-[50px] md:text-[70px] lg:text-[100px] top-[-30%];
    }
    .section-heading__text {
        @apply relative z-[1] font-Rubik font-light text-[28px] lg:text-[38px] text-primary-900;
    }
    .section-heading.right {
        @apply lg:text-right;
    }
    .section-heading.right .section-heading__back-text {
        @apply lg:left-auto lg:right-[-15px];
    }
    .section-heading.right .section-heading__text {}

    /* theme cart */
    .theme-cart {
        @apply bg-white rounded-md overflow-hidden p-8 pb-10 text-right relative shadow-lg;
    }
    .theme-cart__icon {
        @apply absolute top-[20px] left-[-10px] z-10;
    }
    .theme-cart__title {
        @apply font-Ubuntu font-medium text-[22px] text-primary-900 relative z-10 mb-3 transition-all duration-300;
    }
    .theme-cart__text {
        @apply font-Rubik font-light text-[12px] relative z-10 max-w-[90%] ml-auto transition-all duration-300;
    }
    .theme-cart__serial {
        @apply absolute bottom-[15px] left-[15px] text-white text-3xl font-medium z-10;
    }
    .theme-cart__circle {
        @apply absolute bottom-0 left-0 translate-x-[-30%] translate-y-[30%] bg-primary-900 rounded-full h-[100px] w-[100px] transition-all duration-300;
    }
    .theme-cart:hover .theme-cart__circle {
        @apply h-[200%] w-[200%];
    }
    .theme-cart:hover .theme-cart__title,
    .theme-cart:hover .theme-cart__text {
        @apply text-white;
    }

    /* theme blog */
    .theme-blog {}
    .theme-blog__img {
        @apply mb-8;
    }
    .theme-blog__title {
        @apply font-Ubuntu font-normal text-[30px] leading-[133%] mb-3;
    }
    .theme-blog__text {
        @apply font-Rubik font-light text-[18px] mb-10 inline-block;
    }

    /* number success */
    .number-success {
        @apply py-7 grid gap-y-4 md:gap-0 grid-cols-2 md:grid-cols-4 gap-0 bg-primary-900 rounded-lg relative;
    }
    .number-success::before,
    .number-success::after {
        content: '';
        @apply absolute top-1/2 w-6 h-6 rounded-full bg-white translate-y-[-50%];
    }
    .number-success::before {
        @apply left-0 translate-x-[-50%];
    }
    .number-success::after {
        @apply right-0 translate-x-[50%];
    }
    .number-success__item {
        @apply text-center text-white;
    }
    .number-success__item:not(:last-child) {
        @apply border-r-2 border-white;
    }
    .number-success__number {
        @apply font-Ubuntu font-bold text-[30px] md:text-[50px] xl:text-[72px] leading-none;
    }
    .number-success__text {
        @apply font-Ubuntu font-bold text-[14px] lg:text-[18px];
    }

    .gallery img {
        @apply w-full h-full;
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1170px;
        }
    }
}

@layer utilities {
    .section-padding {
        @apply py-[100px];
    }
}
